node-red/flows.json
[{"id":"a68a47cb.086bb8","type":"tab","label":"Rollaeden","disabled":false,"info":""},{"id":"2082c38f.e7703c","type":"tab","label":"Waesche","disabled":false,"info":""},{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1172,"y":128,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1172,"y":176,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1172,"y":224,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":964,"y":240,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"ab0ec929.cb07d8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: env.get('title'),\n            message: env.get('message'),\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","x":298,"y":80,"wires":[["368c9723.5876f8"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1024,"y":176,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["f9e57204.71076","5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":832,"y":176,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":432,"y":176,"wires":[["83ad2004.d04d"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":822,"y":128,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"ab0ec929.cb07d8","version":2,"eventType":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":624,"y":176,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["f9e57204.71076"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"ab0ec929.cb07d8","version":2,"eventType":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"notify","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"callServiceData","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":80,"wires":[[]]},{"id":"f0e1900a.e7e13","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":220,"wires":[["dd2622b2.334c5"],["61fa74d0.a8a6cc"]]},{"id":"dd2622b2.334c5","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":640,"y":220,"wires":[["f27abef9.2a899"],["97fbe374.e0925"]]},{"id":"97fbe374.e0925","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":280,"wires":[[]]},{"id":"f27abef9.2a899","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":220,"wires":[[]]},{"id":"a43626be.b98158","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Schlafen","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":580,"wires":[["6d06fc77.279774"],["6a62ee37.393"]],"outputLabels":["Schlafen","Wach"]},{"id":"6d06fc77.279774","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":580,"wires":[["980bb591.0ec548"],["2cdba7cc.a95758"]],"outputLabels":["Geschlossen","Offen"]},{"id":"2cdba7cc.a95758","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":640,"wires":[[]]},{"id":"d7790f2d.716fd","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Shutdown","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":880,"wires":[["e938aa64.1fd258"],[]]},{"id":"37e01999.4db916","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":880,"wires":[[]]},{"id":"e404e009.57091","type":"comment","z":"a68a47cb.086bb8","name":"Schlafzimmer","info":"","x":110,"y":60,"wires":[]},{"id":"93759081.8e8c2","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Dunkelheit","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":760,"wires":[["6a5bba3a.eb8694"],["43b919e0.63dd18"]]},{"id":"6a5bba3a.eb8694","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":760,"wires":[["625c1d37.8239e4"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"625c1d37.8239e4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":760,"wires":[[]]},{"id":"b9605f63.16988","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Fenster","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_bedroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":160,"wires":[["6f0a4360.5e1e6c"],["3f684971.99cfe6"]],"outputLabels":["Geschlossen","Offen"]},{"id":"e938aa64.1fd258","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":880,"wires":[["37e01999.4db916"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"980bb591.0ec548","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":580,"wires":[[]]},{"id":"6a62ee37.393","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.schonaich","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":270,"y":700,"wires":[["aa7c3cb0.7fc03"]]},{"id":"aa7c3cb0.7fc03","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":700,"wires":[["91980aa3.7bd7f8"],["e181c76b.a03278"]]},{"id":"91980aa3.7bd7f8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":700,"wires":[["c422e02b.99276"],[]]},{"id":"e181c76b.a03278","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":760,"wires":[["cd4b41c8.6e7ff"],["6454a9e728ae7c5a"]]},{"id":"1205ade0.130b32","type":"comment","z":"a68a47cb.086bb8","name":"Büro","info":"","x":90,"y":1140,"wires":[]},{"id":"2f581d3f.75ff62","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":820,"wires":[[]]},{"id":"43b919e0.63dd18","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":820,"wires":[[],["2f581d3f.75ff62"]]},{"id":"80ae9bf3.f4e9e8","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Präsenz","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":940,"wires":[[],["51bb2e27.c8941"]],"outputLabels":["Kommen","Gehen"]},{"id":"51bb2e27.c8941","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":290,"y":940,"wires":[["3b29c1d5.3d0f6e"],["cb535fb8.2a2b1"]],"outputLabels":["Dunkel","Hell"]},{"id":"3b29c1d5.3d0f6e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":940,"wires":[["3ad29c57.c570a4"],["fef1e7f3.61ab08"]],"outputLabels":["Ja","Nein"]},{"id":"3ad29c57.c570a4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":940,"wires":[[]]},{"id":"cb535fb8.2a2b1","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":1060,"wires":[[],["f85927e4.0a4618"]],"outputLabels":["Geschlossen","Offen"]},{"id":"6f0a4360.5e1e6c","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":260,"y":160,"wires":[["deec9d11.7f52c"],["f0e1900a.e7e13"]]},{"id":"deec9d11.7f52c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":160,"wires":[[]]},{"id":"3f684971.99cfe6","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":260,"y":340,"wires":[["cbe1b7ac.f64ad8"],["23ca5203.46dd3e"]]},{"id":"cbe1b7ac.f64ad8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":340,"wires":[[]]},{"id":"61fa74d0.a8a6cc","type":"api-current-state","z":"a68a47cb.086bb8","name":"Sonneschutz West","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sonnenschutz_west_status","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":670,"y":340,"wires":[["9a04890f.d96988"],["ec3912f1.b2354"]]},{"id":"9a04890f.d96988","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":340,"wires":[[]]},{"id":"ec3912f1.b2354","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":400,"wires":[[]]},{"id":"23ca5203.46dd3e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":400,"wires":[["b8d3737c.6f1f2"],["c995fcb1.ce807"]]},{"id":"179becf7.2a3f03","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":460,"wires":[[]]},{"id":"c995fcb1.ce807","type":"api-current-state","z":"a68a47cb.086bb8","name":"Sonneschutz West","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sonnenschutz_west_status","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":670,"y":580,"wires":[["f53c480.f944eb8"],["70225b8b.614894"]]},{"id":"f53c480.f944eb8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":580,"wires":[[]]},{"id":"70225b8b.614894","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":640,"wires":[[]]},{"id":"86ea95b.ec99668","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":520,"wires":[[]]},{"id":"a9ea1851.0f7a98","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":1240,"wires":[["f3396a43.7f5148"],["f34b2c36.f13f5"]]},{"id":"f3396a43.7f5148","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":640,"y":1240,"wires":[["cc6d5e6b.0bcab"],["a3854a2.cbdf6b8"]]},{"id":"a3854a2.cbdf6b8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":1300,"wires":[[]]},{"id":"cc6d5e6b.0bcab","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":1240,"wires":[[]]},{"id":"6b0de15b.46033","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Schlafen","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1420,"wires":[["e507e284.e9145"],["6c035964.647ad8"]],"outputLabels":["Schlafen","Wach"]},{"id":"e507e284.e9145","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":1420,"wires":[["82ee7b80.d2f6d8"],["dfd906a3.c6ab78"]],"outputLabels":["Geschlossen","Offen"]},{"id":"dfd906a3.c6ab78","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":1480,"wires":[[]]},{"id":"3c8d4a0d.6ad996","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Shutdown","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1720,"wires":[["5f05732e.c2b2bc"],[]]},{"id":"187967f7.423c88","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":1720,"wires":[[]]},{"id":"80f75b48.85d238","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Dunkelheit","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1600,"wires":[["72d413d5.41f1fc"],["c70c84dd.a03c78"]]},{"id":"72d413d5.41f1fc","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":1600,"wires":[["d5d41050.186fa"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"d5d41050.186fa","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":1600,"wires":[[]]},{"id":"1dc1db76.6554d5","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Fenster","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_office_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1180,"wires":[["da1de5d7.0eedf8"],["2188168c.d2aa3a"]],"outputLabels":["Geschlossen","Offen"]},{"id":"5f05732e.c2b2bc","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":1720,"wires":[["187967f7.423c88"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"82ee7b80.d2f6d8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":1420,"wires":[[]]},{"id":"6c035964.647ad8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.schonaich","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":270,"y":1540,"wires":[["a159d09f.c7b05"]]},{"id":"a159d09f.c7b05","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1540,"wires":[["4f82b106.613a4"],["8bb13ad0.958018"]]},{"id":"4f82b106.613a4","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":1540,"wires":[["55deed2b.40a084"],[]]},{"id":"8bb13ad0.958018","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":1600,"wires":[["878c12df.920df"],["7b4b4206.a90b8c"]]},{"id":"7b4b4206.a90b8c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1660,"wires":[[]]},{"id":"d2f436b4.dbca68","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":1660,"wires":[[]]},{"id":"c70c84dd.a03c78","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":1660,"wires":[[],["d2f436b4.dbca68"]]},{"id":"68393afc.1acb74","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Präsenz","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1780,"wires":[[],["7dd201a6.51fe"]],"outputLabels":["Kommen","Gehen"]},{"id":"7dd201a6.51fe","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":290,"y":1780,"wires":[["6ff436f4.ce1a48"],["74044d16.929024"]],"outputLabels":["Dunkel","Hell"]},{"id":"6ff436f4.ce1a48","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":1780,"wires":[["2d337922.b8ed86"],["909cfdfe.a5d33"]],"outputLabels":["Ja","Nein"]},{"id":"2d337922.b8ed86","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1780,"wires":[[]]},{"id":"74044d16.929024","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":1900,"wires":[[],["72e6d7b2.c2f868"]],"outputLabels":["Geschlossen","Offen"]},{"id":"da1de5d7.0eedf8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":260,"y":1180,"wires":[["be6fd863.7eae28"],["a9ea1851.0f7a98"]]},{"id":"be6fd863.7eae28","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1180,"wires":[[]]},{"id":"2188168c.d2aa3a","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":260,"y":1300,"wires":[["6e99133.1536aec"],["1b6f9502.55ac1b"]]},{"id":"6e99133.1536aec","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1300,"wires":[[]]},{"id":"1b6f9502.55ac1b","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":1360,"wires":[["49324b07.961ea4"],["83c52d6.85b94d"]]},{"id":"49324b07.961ea4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":1360,"wires":[[]]},{"id":"55deed2b.40a084","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":1540,"wires":[[]]},{"id":"878c12df.920df","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":1600,"wires":[[]]},{"id":"909cfdfe.a5d33","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1840,"wires":[[]]},{"id":"72e6d7b2.c2f868","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_office_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1900,"wires":[[]]},{"id":"83c52d6.85b94d","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":1420,"wires":[[]]},{"id":"f34b2c36.f13f5","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":1300,"wires":[[]]},{"id":"c422e02b.99276","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":700,"wires":[[]]},{"id":"cd4b41c8.6e7ff","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":760,"wires":[[]]},{"id":"fef1e7f3.61ab08","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1000,"wires":[[]]},{"id":"f85927e4.0a4618","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1060,"wires":[[]]},{"id":"d33a5743.1a41d8","type":"server-state-changed","z":"a68a47cb.086bb8","d":true,"name":"Fenster Panik","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_bedroom_panic_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":100,"wires":[[],["9fa26c03.e9c91"]],"outputLabels":["Geschlossen","Offen"]},{"id":"9fa26c03.e9c91","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":300,"y":100,"wires":[["fc64bc54.a1caf"],[]]},{"id":"fc64bc54.a1caf","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":100,"wires":[[]]},{"id":"b8d3737c.6f1f2","type":"api-current-state","z":"a68a47cb.086bb8","name":"Jens zu Hause","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.jens","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":660,"y":400,"wires":[["179becf7.2a3f03"],["86ea95b.ec99668"]]},{"id":"8ae9d0b0.2c4e8","type":"delay","z":"a68a47cb.086bb8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1300,"y":820,"wires":[["8dbe8f94.2c798"]]},{"id":"8dbe8f94.2c798","type":"api-call-service","z":"a68a47cb.086bb8","name":"40%","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"{\t  \"position\": 40\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":880,"wires":[["9b6f60bd.a2eff"]]},{"id":"5c031610.1d7808","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"script","service":"cover_bedroom_ajar","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":820,"wires":[["8ae9d0b0.2c4e8"]]},{"id":"9b6f60bd.a2eff","type":"delay","z":"a68a47cb.086bb8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1280,"y":880,"wires":[["56ae349e.3b430c"]]},{"id":"56ae349e.3b430c","type":"api-call-service","z":"a68a47cb.086bb8","name":"60%","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"{\t  \"position\": 60\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":880,"wires":[["d9959628.cfb458"]]},{"id":"d9959628.cfb458","type":"delay","z":"a68a47cb.086bb8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1620,"y":880,"wires":[["9a4a4c2b.49081"]]},{"id":"9a4a4c2b.49081","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":880,"wires":[[]]},{"id":"6454a9e728ae7c5a","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen unten","server":"ab0ec929.cb07d8","version":3,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":820,"wires":[["5c031610.1d7808"],["8dbe8f94.2c798"]]},{"id":"228fd598.1ec10a","type":"server-state-changed","z":"2082c38f.e7703c","name":"Trockner gestartet","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.verbrauch_trockner_5_minuten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"30","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":80,"wires":[["6f12d663.3958a8"],[]]},{"id":"6f12d663.3958a8","type":"ha-wait-until","z":"2082c38f.e7703c","name":"Standby erreicht","server":"ab0ec929.cb07d8","version":2,"outputs":2,"entityId":"sensor.verbrauch_trockner_5_minuten","entityIdFilterType":"exact","property":"state","comparator":"lt","value":"25","valueType":"num","timeout":"4","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":380,"y":80,"wires":[["1d4e42de.9b72bd"],[]]},{"id":"5ed6d980.f4d888","type":"server-state-changed","z":"2082c38f.e7703c","name":"Waschmaschine gestartet","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.verbrauch_waschmaschine_5_minuten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":140,"wires":[["6bba8c35.27a854"],[]]},{"id":"6bba8c35.27a854","type":"ha-wait-until","z":"2082c38f.e7703c","name":"Standby erreicht","server":"ab0ec929.cb07d8","version":2,"outputs":2,"entityId":"sensor.verbrauch_waschmaschine_5_minuten","entityIdFilterType":"exact","property":"state","comparator":"lt","value":"10","valueType":"num","timeout":"4","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":420,"y":140,"wires":[["447495b2.d215cc"],[]]},{"id":"b03510df.2c14d","type":"server-state-changed","z":"2082c38f.e7703c","name":"Tier-Waschmaschine gestartet","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.verbrauch_tier_waschmaschine_5_minuten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":200,"wires":[["92fdf701.b2a138"],[]]},{"id":"92fdf701.b2a138","type":"ha-wait-until","z":"2082c38f.e7703c","name":"Standby erreicht","server":"ab0ec929.cb07d8","version":2,"outputs":2,"entityId":"sensor.verbrauch_tier_waschmaschine_5_minuten","entityIdFilterType":"exact","property":"state","comparator":"lt","value":"10","valueType":"num","timeout":"4","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":440,"y":200,"wires":[["454ec457.9f872c"],[]]},{"id":"1d4e42de.9b72bd","type":"change","z":"2082c38f.e7703c","name":"Ansage definieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Trockner ist fertig!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":80,"wires":[[]]},{"id":"447495b2.d215cc","type":"change","z":"2082c38f.e7703c","name":"Ansage definieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"Die Waschmaschine ist fertig!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":140,"wires":[[]]},{"id":"454ec457.9f872c","type":"change","z":"2082c38f.e7703c","name":"Ansage definieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"Die Tier-Waschmaschine ist fertig!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[[]]},{"id":"3fe4920a1c364386","type":"server-state-changed","z":"2082c38f.e7703c","name":"Waschmaschine (Karat) gestartet","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.verbrauch_waschmaschine_karat_5_minuten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":320,"wires":[["6467bc5a1b747241"],[]]},{"id":"6467bc5a1b747241","type":"ha-wait-until","z":"2082c38f.e7703c","name":"Standby erreicht","server":"ab0ec929.cb07d8","version":2,"outputs":2,"entityId":"sensor.verbrauch_waschmaschine_karat_5_minuten","entityIdFilterType":"exact","property":"state","comparator":"lt","value":"1","valueType":"num","timeout":"4","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":460,"y":320,"wires":[["d2538104329889e7","a69657d3b0c52023"],[]]},{"id":"d2538104329889e7","type":"api-call-service","z":"2082c38f.e7703c","name":"Benachrichtigung Tanja","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"notify","service":"signal_tanja","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Die Waschmaschine ist fertig\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":320,"wires":[[]]},{"id":"0351357f4c78d157","type":"server-state-changed","z":"2082c38f.e7703c","name":"Trockner (Karat) gestartet","server":"ab0ec929.cb07d8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.verbrauch_trockner_karat_5_minuten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":440,"wires":[["7eee33681904f8e5"],[]]},{"id":"7eee33681904f8e5","type":"ha-wait-until","z":"2082c38f.e7703c","name":"Standby erreicht","server":"ab0ec929.cb07d8","version":2,"outputs":2,"entityId":"sensor.verbrauch_trockner_karat_5_minuten","entityIdFilterType":"exact","property":"state","comparator":"lt","value":"30","valueType":"num","timeout":"4","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":420,"y":440,"wires":[["7af7b11892e95486","bac6a0b82a459b34"],[]]},{"id":"7af7b11892e95486","type":"api-call-service","z":"2082c38f.e7703c","name":"Benachrichtigung Tanja","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"notify","service":"signal_tanja","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Der Trockner ist fertig\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":440,"wires":[[]]},{"id":"a69657d3b0c52023","type":"api-call-service","z":"2082c38f.e7703c","name":"Benachrichtigung Armin","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"notify","service":"signal_armin","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Die Waschmaschine ist fertig\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":380,"wires":[[]]},{"id":"bac6a0b82a459b34","type":"api-call-service","z":"2082c38f.e7703c","name":"Benachrichtigung Armin","server":"ab0ec929.cb07d8","version":5,"debugenabled":false,"domain":"notify","service":"signal_armin","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Der Trockner ist fertig\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":500,"wires":[[]]}]