node-red/flows.json
[{"id":"1fad8537.f6b59b","type":"tab","label":"Präsenz","disabled":false,"info":""},{"id":"a68a47cb.086bb8","type":"tab","label":"Rollaeden","disabled":false,"info":""},{"id":"4979002d.c865e","type":"tab","label":"Schlafen","disabled":false,"info":""},{"id":"938414f1.6d46d8","type":"tab","label":"Sonnenstand","disabled":false,"info":""},{"id":"7f6537c4.47d0d8","type":"tab","label":"Staubsauger","disabled":false,"info":""},{"id":"f7992643.cf3688","type":"tab","label":"Utility","disabled":false,"info":""},{"id":"6082ba15.60be14","type":"tab","label":"Zigbee Buttons","disabled":false,"info":""},{"id":"d62283f5.d25b8","type":"tab","label":"Spielwiese","disabled":false,"info":""},{"id":"ab0ec929.cb07d8","type":"server","name":"Home Assistant","addon":true},{"id":"ebd41249.5a962","type":"server-events","z":"6082ba15.60be14","name":"ZHA Event","server":"ab0ec929.cb07d8","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":100,"y":80,"wires":[["4778daaf.4a59e4"]]},{"id":"4778daaf.4a59e4","type":"switch","z":"6082ba15.60be14","name":"Button clicked","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["55543fd9.240e","557124b3.2d303c","705301ee.88f61"]]},{"id":"3b806839.bde488","type":"api-call-service","z":"6082ba15.60be14","name":"Stehlampe an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.guestroom_standinglight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":80,"wires":[[]]},{"id":"276bac49.4f1284","type":"api-current-state","z":"6082ba15.60be14","name":"Dunkel","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.licht_innen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":880,"y":80,"wires":[["3b806839.bde488"],[]]},{"id":"717e3a69.c49224","type":"api-call-service","z":"6082ba15.60be14","name":"Computer an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_guestroom_computer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":140,"wires":[[]]},{"id":"ee278c33.51bdd","type":"api-call-service","z":"6082ba15.60be14","name":"Schreibtisch an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_guestroom_desk","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":140,"wires":[["cf7702ac.53d8e"]]},{"id":"f26978c6.57ced8","type":"api-call-service","z":"6082ba15.60be14","name":"Drucker an/aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.plug_guestroom_printer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":400,"wires":[[]]},{"id":"539bf36d.97a96c","type":"api-call-service","z":"6082ba15.60be14","name":"Stehlampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.guestroom_standinglight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":200,"wires":[[]]},{"id":"5bc26784.35ee28","type":"api-call-service","z":"6082ba15.60be14","name":"Computer aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_computer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":260,"wires":[[]]},{"id":"a23430a5.5d76f","type":"api-call-service","z":"6082ba15.60be14","name":"Schreibtisch aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_desk","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":320,"wires":[[]]},{"id":"55543fd9.240e","type":"switch","z":"6082ba15.60be14","name":"Computer","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"f0e8fbc7c6f937c9075560fcf6088236","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":80,"wires":[["a7db47bf.d692b8","6cad3852.9f4e98"]]},{"id":"a7db47bf.d692b8","type":"switch","z":"6082ba15.60be14","name":"Einfachklick","property":"payload.event.args.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":80,"wires":[["276bac49.4f1284","ee278c33.51bdd"]]},{"id":"6cad3852.9f4e98","type":"switch","z":"6082ba15.60be14","name":"Doppelklick","property":"payload.event.args.click_type","propertyType":"msg","rules":[{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":200,"wires":[["539bf36d.97a96c","a23430a5.5d76f","5bc26784.35ee28"]]},{"id":"557124b3.2d303c","type":"switch","z":"6082ba15.60be14","name":"Drucker","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"9d17fb62eba655a34a4e375c4d56418a","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":400,"wires":[["1ca78021.37ac6"]]},{"id":"1ca78021.37ac6","type":"switch","z":"6082ba15.60be14","name":"Einfachklick","property":"payload.event.args.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":400,"wires":[["f26978c6.57ced8"]]},{"id":"705301ee.88f61","type":"switch","z":"6082ba15.60be14","name":"Schreibtisch Eva","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"95412d15211d076f6fe178dfb2dec0c5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":480,"wires":[["77c8c3c.95d1f3c"]]},{"id":"77c8c3c.95d1f3c","type":"switch","z":"6082ba15.60be14","name":"Einfachklick","property":"payload.event.args.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":480,"wires":[["d63816e9.9dbfa8"]]},{"id":"d63816e9.9dbfa8","type":"api-call-service","z":"6082ba15.60be14","name":"Schreibtisch Eva an/aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.plug_office_desk","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":480,"wires":[[]]},{"id":"1bb2bbd5.9b6234","type":"server-state-changed","z":"1fad8537.f6b59b","name":"Zustandswechsel Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":1450,"y":560,"wires":[["ef3b2b35.f755c8","b4e57d0a.2343e","2a3fda4a.1bfcc6"],["244b6cc0.5d5a64","22dd7c13.29e444","5147314f.16096","49c9f4e9.46d04c","97e1d9ee.8f1cb8","e3a0c258.d6104"]]},{"id":"244b6cc0.5d5a64","type":"api-call-service","z":"1fad8537.f6b59b","name":"Sonos One Gästezimmer Lautstärke hoch","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.guest_room","data":"{\"volume_level\":0.4}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1800,"y":740,"wires":[["e5cc23a6.507d"]]},{"id":"234aa098.ef1e8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Ansage","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"media_player.guest_room","data":"{\t  \"message\": \"Komm gesund wieder. Ich halte hier die Stellung!\",\t  \"options\": {\t    \"gender\": \"female\",\t    \"language\": \"de-DE\"\t    }\t}\t","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2300,"y":740,"wires":[[]]},{"id":"e5cc23a6.507d","type":"delay","z":"1fad8537.f6b59b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2100,"y":740,"wires":[["234aa098.ef1e8"]]},{"id":"22dd7c13.29e444","type":"api-call-service","z":"1fad8537.f6b59b","name":"Küche Kaffeemaschine aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_kitchen_coffeemachine","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":800,"wires":[["edf38b95.0c4b68"]]},{"id":"58aa27fb.e0eb38","type":"api-call-service","z":"1fad8537.f6b59b","name":"Bad Sprachassistent aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_bathroom_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1280,"wires":[["88646ba5.baf9a8"]]},{"id":"edf38b95.0c4b68","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Sonos aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_sonos_sub","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":860,"wires":[["a688f3a8.bdede"]]},{"id":"a688f3a8.bdede","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Multimedia aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_multimedia","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":920,"wires":[["da18e337.52b75"]]},{"id":"da18e337.52b75","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer TV aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_tv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":980,"wires":[["9759fe1b.8ff0d"]]},{"id":"2b0bffc5.3a207","type":"api-call-service","z":"1fad8537.f6b59b","name":"Gästezimmer Schreibtisch aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_desk","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1770,"y":1100,"wires":[["f3e29f42.1f4ad"]]},{"id":"f3e29f42.1f4ad","type":"api-call-service","z":"1fad8537.f6b59b","name":"Gästezimmer Drucker aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_printer","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1160,"wires":[["4b27d407.f9ec1c"]]},{"id":"88646ba5.baf9a8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Büro Sprachassistent aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_office_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1340,"wires":[[]]},{"id":"4b27d407.f9ec1c","type":"api-call-service","z":"1fad8537.f6b59b","name":"Schlafzimmer Fernseher aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_bedroom_tv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":1220,"wires":[["58aa27fb.e0eb38"]]},{"id":"9759fe1b.8ff0d","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Telefon aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_telephone","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1040,"wires":[["2b0bffc5.3a207"]]},{"id":"5147314f.16096","type":"api-current-state","z":"1fad8537.f6b59b","name":"Dunkelheit Licht (innen)","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.licht_innen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":700,"wires":[["43f7d059.6f8e2"],["ece130ca.7c163"]]},{"id":"43f7d059.6f8e2","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Wandlampen an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.livingroom_wall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":700,"wires":[["ff67ac28.a8564"]]},{"id":"ff67ac28.a8564","type":"api-call-service","z":"1fad8537.f6b59b","name":"Garten Laterne an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garden_lantern","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":760,"wires":[["bb3bb8a6.d41878"]]},{"id":"bb3bb8a6.d41878","type":"api-call-service","z":"1fad8537.f6b59b","name":"Garten Ballampen an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garden_ball_lamps","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":820,"wires":[[]]},{"id":"a4357396.0cffc","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Esstischlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_dining","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":1000,"wires":[["2a4a8dc5.644f12"]]},{"id":"2a4a8dc5.644f12","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":1060,"wires":[["9ccd1d58.80e03"]]},{"id":"beae8651.a44b78","type":"api-call-service","z":"d62283f5.d25b8","name":"Decke","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.guestroom_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":100,"wires":[["c8ea7bed.e17e58"]]},{"id":"c8ea7bed.e17e58","type":"api-call-service","z":"d62283f5.d25b8","name":"Stehlampe","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.guestroom_standinglight","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":100,"wires":[[]]},{"id":"16f01c68.893194","type":"server-state-changed","z":"d62283f5.d25b8","name":"Trigger","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.test_triger","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":100,"wires":[["beae8651.a44b78"],["beae8651.a44b78"]]},{"id":"ece130ca.7c163","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Wandlampen aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_wall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":880,"wires":[["37540e3c.893b42"]]},{"id":"9ccd1d58.80e03","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Stehlampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_standinglight","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":1120,"wires":[["da60e2db.73372"]]},{"id":"49c9f4e9.46d04c","type":"api-call-service","z":"1fad8537.f6b59b","name":"Küche Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":760,"wires":[["7d6d59bf.0f8188"]]},{"id":"7d6d59bf.0f8188","type":"api-call-service","z":"1fad8537.f6b59b","name":"Küche Spülenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_sink","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":820,"wires":[["6128e98b.162f78"]]},{"id":"6128e98b.162f78","type":"api-call-service","z":"1fad8537.f6b59b","name":"Küche Schranklicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_cabinet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":880,"wires":[["ece33be1.602898"]]},{"id":"ece33be1.602898","type":"api-call-service","z":"1fad8537.f6b59b","name":"Küche Thekenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_bar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":940,"wires":[["a4357396.0cffc"]]},{"id":"96ca84f5.ef4df8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Gästezimmer Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.guestroom_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":1240,"wires":[["8a8891a.368047"]]},{"id":"8a8891a.368047","type":"api-call-service","z":"1fad8537.f6b59b","name":"Gästezimmer Stehlampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.guestroom_standinglight","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":1300,"wires":[["4b72fd03.1bea04"]]},{"id":"4b72fd03.1bea04","type":"api-call-service","z":"1fad8537.f6b59b","name":"Schlafzimmer Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":1360,"wires":[["821fba3b.3d3b98"]]},{"id":"821fba3b.3d3b98","type":"api-call-service","z":"1fad8537.f6b59b","name":"Schlafzimmer Bettlichtaus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_bed","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":1420,"wires":[["30eb52ba.bc3a5e"]]},{"id":"da60e2db.73372","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Leselampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plug_livingroom_readinglight","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":1180,"wires":[["96ca84f5.ef4df8"]]},{"id":"30eb52ba.bc3a5e","type":"api-call-service","z":"1fad8537.f6b59b","name":"Bad Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":1480,"wires":[["3083e8.6a456c18"]]},{"id":"3083e8.6a456c18","type":"api-call-service","z":"1fad8537.f6b59b","name":"Bad Spiegellicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":1540,"wires":[["e690e89a.5dd8e8"]]},{"id":"e690e89a.5dd8e8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Büro Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_ceilinglight","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":1600,"wires":[["8bcb41c5.e4296"]]},{"id":"8bcb41c5.e4296","type":"api-call-service","z":"1fad8537.f6b59b","name":"Büro Schreibtischlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_desk_lamp","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":1660,"wires":[["e48e2f50.df23f"]]},{"id":"e48e2f50.df23f","type":"api-call-service","z":"1fad8537.f6b59b","name":"Dusche Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.shower_ceiling","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":1720,"wires":[["8a11cc13.fbafd"]]},{"id":"8a11cc13.fbafd","type":"api-call-service","z":"1fad8537.f6b59b","name":"Dusche Spiegellicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.shower_mirror","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":1780,"wires":[[]]},{"id":"97e1d9ee.8f1cb8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Flurlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.hallway_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":680,"wires":[["85b3015.c14d4"]]},{"id":"488a4015.f1c4e","type":"delay","z":"1fad8537.f6b59b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2120,"y":680,"wires":[["bc997c82.a598c"]]},{"id":"bc997c82.a598c","type":"api-call-service","z":"1fad8537.f6b59b","name":"Flurlicht an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_entrance","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2310,"y":680,"wires":[["c6b4baa7.e5a2b8"]]},{"id":"85b3015.c14d4","type":"repeat","z":"1fad8537.f6b59b","name":"2x wiederholen","repetitions":"2","elseOutput":false,"outputs":1,"x":1920,"y":680,"wires":[["488a4015.f1c4e"]]},{"id":"c6b4baa7.e5a2b8","type":"delay","z":"1fad8537.f6b59b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":680,"wires":[["4d74fb8.6234004"]]},{"id":"4d74fb8.6234004","type":"api-call-service","z":"1fad8537.f6b59b","name":"Flurlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hallway_entrance","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2690,"y":680,"wires":[["85b3015.c14d4"]]},{"id":"37540e3c.893b42","type":"api-call-service","z":"1fad8537.f6b59b","name":"Garten Laterne aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.garden_lantern","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":940,"wires":[["f81e842a.6a0df8"]]},{"id":"f81e842a.6a0df8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Garten Ballampen aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.garden_ball_lamps","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1000,"wires":[[]]},{"id":"ef3b2b35.f755c8","type":"api-current-state","z":"1fad8537.f6b59b","name":"Dunkelheit Licht (innen)","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.licht_innen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":340,"wires":[["e3c5acf9.6dd08"],[]]},{"id":"398a23c.66887dc","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Wandlampen an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.livingroom_wall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":160,"wires":[["2dc69b43.b7ced4"]]},{"id":"2dc69b43.b7ced4","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Stehllampe an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.livingroom_standinglight","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":100,"wires":[[]]},{"id":"5958200f.90117","type":"api-call-service","z":"1fad8537.f6b59b","name":"Küche Schranklicht an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_cabinet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":220,"wires":[["398a23c.66887dc"]]},{"id":"e3c5acf9.6dd08","type":"api-call-service","z":"1fad8537.f6b59b","name":"Flurlicht an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.hallway_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":280,"wires":[["5958200f.90117"]]},{"id":"b4e57d0a.2343e","type":"api-call-service","z":"1fad8537.f6b59b","name":"Sonos One Gästezimmer Lautstärke hoch","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.guest_room","data":"{\"volume_level\":0.4}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":500,"wires":[["455782a2.4a084c"]]},{"id":"a1755aa7.9d91e8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Ansage","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"media_player.guest_room","data":"{\t  \"message\": \"Willkommen zurück. Schön, dass du wieder da bist.\",\t  \"options\": {\t    \"gender\": \"female\",\t    \"language\": \"de-DE\"\t    }\t}\t","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":500,"wires":[[]]},{"id":"455782a2.4a084c","type":"delay","z":"1fad8537.f6b59b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":500,"wires":[["a1755aa7.9d91e8"]]},{"id":"ee921245.7d166","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Sonos an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_sonos_sub","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":220,"wires":[["f0f7a340.0ffb8"]]},{"id":"5b933484.20471c","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Multimedia an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_multimedia","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":280,"wires":[["ee921245.7d166"]]},{"id":"550ff7c0.c80728","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer TV an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_tv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":340,"wires":[["5b933484.20471c"]]},{"id":"2a3fda4a.1bfcc6","type":"api-call-service","z":"1fad8537.f6b59b","name":"Wohnzimmer Telefon an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_telephone","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":400,"wires":[["550ff7c0.c80728"]]},{"id":"f0f7a340.0ffb8","type":"api-call-service","z":"1fad8537.f6b59b","name":"Bad Sprachassistent an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_bathroom_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":160,"wires":[["27f6eda9.848c62"]]},{"id":"27f6eda9.848c62","type":"api-call-service","z":"1fad8537.f6b59b","name":"Büro Sprachassistent an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_office_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":100,"wires":[["44053aa0.ed6414"]]},{"id":"44053aa0.ed6414","type":"api-call-service","z":"1fad8537.f6b59b","name":"Dusche Sprachassistent an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_shower_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":40,"wires":[[]]},{"id":"13f4310f.a98b9f","type":"server-state-changed","z":"938414f1.6d46d8","name":"Solar azimuth","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.solar_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":220,"wires":[["aeb978c3.908258"]]},{"id":"64a4fdcb.f42154","type":"switch","z":"938414f1.6d46d8","name":"Sonne bescheint suedliche Fenster","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"123","vt":"num","v2":"243","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1640,"y":160,"wires":[["6b652c61.22ccf4"]]},{"id":"301cc9d.b93fc36","type":"switch","z":"938414f1.6d46d8","name":"Sonne bescheint westliche Fenster","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"233","vt":"num","v2":"313","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1640,"y":220,"wires":[["9356d59a.c90028"]]},{"id":"9356d59a.c90028","type":"debug","z":"938414f1.6d46d8","name":"WESTEN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":220,"wires":[]},{"id":"6b652c61.22ccf4","type":"debug","z":"938414f1.6d46d8","name":"SUEDEN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":160,"wires":[]},{"id":"b32473b7.3ffc8","type":"switch","z":"938414f1.6d46d8","name":"Temperatur aussen","property":"weather.data.attributes.temperature","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"lte","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":220,"wires":[["9236f393.dc6a1"],["44cbddf7.d55b34"]]},{"id":"f9d857af.ea9428","type":"server-state-changed","z":"4979002d.c865e","name":"Zustandwechsel Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":1370,"y":1460,"wires":[["7862b2d4.fcadec","a75227ea.4a54b8","2074950c.a48c7a"],["f141e8dc.59d5c8","c540eef5.ce46","b62317c8.8e5d58"]]},{"id":"f141e8dc.59d5c8","type":"api-current-state","z":"4979002d.c865e","name":"Licht Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.licht_innen_dunkelheit","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1720,"y":1600,"wires":[["19b1a01f.30813"],[]]},{"id":"19b1a01f.30813","type":"api-call-service","z":"4979002d.c865e","name":"Flurlicht an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.hallway_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1930,"y":1600,"wires":[[]]},{"id":"885e0f47.1a24a","type":"api-call-service","z":"4979002d.c865e","name":"Bettlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_bed","data":"{\"transition\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1930,"y":1540,"wires":[[]]},{"id":"b62317c8.8e5d58","type":"delay","z":"4979002d.c865e","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1700,"y":1540,"wires":[["885e0f47.1a24a"]]},{"id":"c540eef5.ce46","type":"api-call-service","z":"4979002d.c865e","name":"Küche Kaffeemaschine an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_kitchen_coffeemachine","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1660,"wires":[["93e7993.9d5be68"]]},{"id":"52dba65.7f73a58","type":"api-call-service","z":"4979002d.c865e","name":"Bad Sprachassistent an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_bathroom_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1960,"wires":[["8adb320a.168cd"]]},{"id":"93e7993.9d5be68","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Sonos an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_sonos_sub","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1720,"wires":[["1ade682e.807d38"]]},{"id":"1ade682e.807d38","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Multimedia an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_multimedia","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":1780,"wires":[["f70f27c9.e76fd8"]]},{"id":"f70f27c9.e76fd8","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer TV an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_tv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1730,"y":1840,"wires":[["3b03fa.2a5bac06"]]},{"id":"8adb320a.168cd","type":"api-call-service","z":"4979002d.c865e","name":"Büro Sprachassistent an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_office_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":2020,"wires":[["60c42c1b.f38ee4"]]},{"id":"3b03fa.2a5bac06","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Telefon an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_telephone","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1900,"wires":[["52dba65.7f73a58"]]},{"id":"60c42c1b.f38ee4","type":"api-call-service","z":"4979002d.c865e","name":"Dusche Sprachassistent an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_shower_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":2080,"wires":[[]]},{"id":"7862b2d4.fcadec","type":"api-call-service","z":"4979002d.c865e","name":"Bettlicht dimmen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_bed","data":"{\"transition\":60,\"brightness\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":1400,"wires":[["2641e3c1.afab0c"]]},{"id":"2641e3c1.afab0c","type":"delay","z":"4979002d.c865e","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1920,"y":1400,"wires":[["272a708f.f3f36"]]},{"id":"272a708f.f3f36","type":"api-call-service","z":"4979002d.c865e","name":"Bettlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_bed","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":1400,"wires":[[]]},{"id":"a75227ea.4a54b8","type":"api-call-service","z":"4979002d.c865e","name":"Küche Kaffeemaschine aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_kitchen_coffeemachine","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":1340,"wires":[["f2a894cb.9bc758"]]},{"id":"303dcf62.32659","type":"api-call-service","z":"4979002d.c865e","name":"Bad Sprachassistent aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_bathroom_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":920,"wires":[["6b9dc81d.aa6c68"]]},{"id":"f2a894cb.9bc758","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Sonos aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_sonos_sub","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1280,"wires":[["5ef2b939.701508"]]},{"id":"5ef2b939.701508","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Multimedia aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_multimedia","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":1220,"wires":[["ed596a82.18c928"]]},{"id":"ed596a82.18c928","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer TV aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_tv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":1160,"wires":[["9e4eee5.3fdd01"]]},{"id":"ed0520bd.7050b","type":"api-call-service","z":"4979002d.c865e","name":"Gästezimmer Schreibtisch aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_desk","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":1040,"wires":[["8813df11.17169"]]},{"id":"8813df11.17169","type":"api-call-service","z":"4979002d.c865e","name":"Gästezimmer Drucker aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_printer","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":980,"wires":[["303dcf62.32659"]]},{"id":"6b9dc81d.aa6c68","type":"api-call-service","z":"4979002d.c865e","name":"Büro Sprachassistent aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_office_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":860,"wires":[["f68143ab.5ff49"]]},{"id":"9e4eee5.3fdd01","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Telefon aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_telephone","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1100,"wires":[["ed0520bd.7050b"]]},{"id":"ba82365c.3e1198","type":"api-call-service","z":"4979002d.c865e","name":"Dusche Sprachassistent aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_shower_voice_assistant","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":740,"wires":[[]]},{"id":"f68143ab.5ff49","type":"api-call-service","z":"4979002d.c865e","name":"Büro Schreibtisch aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_office_desk","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":800,"wires":[["ba82365c.3e1198"]]},{"id":"a502d880.ef8548","type":"api-call-service","z":"4979002d.c865e","name":"Küche Schranklicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_cabinet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":1220,"wires":[["74b735.e9a028cc"]]},{"id":"74b735.e9a028cc","type":"api-call-service","z":"4979002d.c865e","name":"Küche Thekenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_bar","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":1160,"wires":[["12a4a251.6fdade"]]},{"id":"12a4a251.6fdade","type":"api-call-service","z":"4979002d.c865e","name":"Küche Spülenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_sink","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":1100,"wires":[["f21a7fc1.a2ad1"]]},{"id":"f21a7fc1.a2ad1","type":"api-call-service","z":"4979002d.c865e","name":"Küche Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_ceiling","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":1040,"wires":[["b1e9b6a9.514a28"]]},{"id":"2074950c.a48c7a","type":"api-call-service","z":"4979002d.c865e","name":"Garten Ballampen aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.garden_ball_lamps","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":1340,"wires":[["39aff88d.cba5e8"]]},{"id":"39aff88d.cba5e8","type":"api-call-service","z":"4979002d.c865e","name":"Garten Laterne aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.garden_lantern","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1280,"wires":[["a502d880.ef8548"]]},{"id":"b1e9b6a9.514a28","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Esstischlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_dining","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":980,"wires":[["6fd9790d.b60bd8"]]},{"id":"6fd9790d.b60bd8","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Wandlampen aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_wall","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":920,"wires":[["1df7a58c.07974a"]]},{"id":"1df7a58c.07974a","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Stehlampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_standinglight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":860,"wires":[["caf54171.ec548"]]},{"id":"caf54171.ec548","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.livingroom_ceiling","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":800,"wires":[["7a0668b2.2df488"]]},{"id":"8a3ec497.706a08","type":"api-call-service","z":"4979002d.c865e","name":"Gästezimmer Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.guestroom_ceiling","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":620,"wires":[["f69ae812.be8b28"]]},{"id":"994743ae.9fcd2","type":"api-call-service","z":"4979002d.c865e","name":"Gästezimmer Stehlampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.guestroom_standinglight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":680,"wires":[["8a3ec497.706a08"]]},{"id":"f69ae812.be8b28","type":"api-call-service","z":"4979002d.c865e","name":"Schlafzimmer Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_ceiling","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":560,"wires":[["82260a35.36f438"]]},{"id":"82260a35.36f438","type":"api-call-service","z":"4979002d.c865e","name":"Bad Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_ceiling","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":500,"wires":[["4b6b3c6a.69c5e4"]]},{"id":"4b6b3c6a.69c5e4","type":"api-call-service","z":"4979002d.c865e","name":"Bad Spiegellicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":440,"wires":[["7d5110a8.2a02a"]]},{"id":"63116a39.793484","type":"api-call-service","z":"4979002d.c865e","name":"Büro Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_ceilinglight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":320,"wires":[["7a79cb90.e955a4"]]},{"id":"7d5110a8.2a02a","type":"api-call-service","z":"4979002d.c865e","name":"Bad Spiegellicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":380,"wires":[["63116a39.793484"]]},{"id":"7a79cb90.e955a4","type":"api-call-service","z":"4979002d.c865e","name":"Büro Schreibtischlampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_desk_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":260,"wires":[["f5e4b81a.f23fc8"]]},{"id":"f5e4b81a.f23fc8","type":"api-call-service","z":"4979002d.c865e","name":"Dusche Deckenlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.shower_ceiling","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":200,"wires":[["bd0cd971.b1fc38"]]},{"id":"bd0cd971.b1fc38","type":"api-call-service","z":"4979002d.c865e","name":"Dusche Spiegellicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.shower_mirror","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":140,"wires":[["8570c3d1.57ffb"]]},{"id":"7a0668b2.2df488","type":"api-call-service","z":"4979002d.c865e","name":"Wohnzimmer Leselampe aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plug_livingroom_readinglight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":740,"wires":[["994743ae.9fcd2"]]},{"id":"8570c3d1.57ffb","type":"api-call-service","z":"4979002d.c865e","name":"Flurlicht aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.hallway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":80,"wires":[[]]},{"id":"39bffd67.174a62","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger starten","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.rockrobo","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":240,"wires":[["874d39c2.40b028"]]},{"id":"874d39c2.40b028","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger aktiv setzen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.staubsauger_aktiv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":240,"wires":[[]]},{"id":"fca37884.a72378","type":"api-current-state","z":"7f6537c4.47d0d8","name":"Staubsauger fertig","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.staubsauger_fertig","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":240,"wires":[[],["39bffd67.174a62"]]},{"id":"d1fea25.2d7ab6","type":"server-state-changed","z":"7f6537c4.47d0d8","name":"Nach Hause kommen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":120,"wires":[["3e2d50d2.db99f"],[]],"outputLabels":["Anwesend","Abwesend"]},{"id":"3e2d50d2.db99f","type":"api-current-state","z":"7f6537c4.47d0d8","name":"Staubsauger saugt","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"cleaning","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"vacuum.rockrobo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":120,"wires":[["332d49e8.69ea56"],[]],"outputLabels":["Ja","Nein"]},{"id":"332d49e8.69ea56","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger pausieren","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"vacuum","service":"pause","entityId":"vacuum.rockrobo","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":120,"wires":[["dd273735.633988"]]},{"id":"dd273735.633988","type":"delay","z":"7f6537c4.47d0d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":120,"wires":[["46b2159.57a65ec"]]},{"id":"46b2159.57a65ec","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger zur Basis fahren","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.rockrobo","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":120,"wires":[["22d42cae.4c0424"]]},{"id":"22d42cae.4c0424","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger inaktiv setzen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.staubsauger_aktiv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":120,"wires":[[]]},{"id":"7372fdda.9ca7f4","type":"server-state-changed","z":"7f6537c4.47d0d8","name":"Staubsauger faehrt nach Hause","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.rockrobo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"returning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":360,"wires":[["9a863db4.44e2a"],[]]},{"id":"9a863db4.44e2a","type":"switch","z":"7f6537c4.47d0d8","name":"Vorheriger Zustand war \"Reinigen\"","property":"payload.data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"cleaning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":360,"wires":[["cac9b0d8.93b99"]],"info":"Direkter Wechsel von \"cleaning\" zu \"returning\" wird nur bei Fertigstellung ausgeloest.\nBei Praesenz vor Fertigstellung, wird zuerst pausiert \"paused\"."},{"id":"cac9b0d8.93b99","type":"api-current-state","z":"7f6537c4.47d0d8","name":"Staubsauger aktiv","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.staubsauger_aktiv","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":810,"y":360,"wires":[["122624d2.25dcfb"],[]]},{"id":"122624d2.25dcfb","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger inaktiv setzen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.staubsauger_aktiv","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":360,"wires":[["8df8d88.1a10928"]]},{"id":"8df8d88.1a10928","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger fertig setzen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.staubsauger_fertig","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":360,"wires":[[]]},{"id":"f27c6743.eb0998","type":"api-call-service","z":"7f6537c4.47d0d8","name":"Staubsauger fertig zuruecksetzen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.staubsauger_fertig","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":480,"wires":[[]]},{"id":"4b5f4cdb.920be4","type":"server-state-changed","z":"7f6537c4.47d0d8","name":"Abwesend fuer 5 Minuten","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":170,"y":240,"wires":[["fca37884.a72378"],[]]},{"id":"113dc602.42fe4a","type":"inject","z":"7f6537c4.47d0d8","name":"Jeden Tag um Mitternacht","props":[],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","x":200,"y":480,"wires":[["f27c6743.eb0998"]]},{"id":"3bd5e770.6a20f8","type":"inject","z":"938414f1.6d46d8","name":"Alle 30 Minuten (08:00-20:00)","props":[],"repeat":"","crontab":"*/30 8-19 * * *","once":false,"onceDelay":0.1,"topic":"","x":210,"y":80,"wires":[["2cb3077b.461b18"]]},{"id":"2cb3077b.461b18","type":"api-call-service","z":"938414f1.6d46d8","name":"UV Daten aktualisieren","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"openuv","service":"update_data","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":80,"wires":[[]]},{"id":"aeb978c3.908258","type":"api-current-state","z":"938414f1.6d46d8","name":"Wetter sonnig","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"sunny, partlycloudy","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"weather.payload","override_payload":"msg","entity_location":"weather.data","override_data":"msg","blockInputOverrides":false,"x":360,"y":220,"wires":[["b32473b7.3ffc8"],["44cbddf7.d55b34"]]},{"id":"9236f393.dc6a1","type":"api-current-state","z":"938414f1.6d46d8","name":"UV Index ueber 3","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"3","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.current_uv_index","state_type":"num","state_location":"uvindex.payload","override_payload":"msg","entity_location":"uvindex.data","override_data":"msg","blockInputOverrides":false,"x":830,"y":220,"wires":[["ac9fde88.3e414"],["44cbddf7.d55b34"]]},{"id":"44cbddf7.d55b34","type":"debug","z":"938414f1.6d46d8","name":"KEIN SONNENSCHUTZ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":480,"wires":[]},{"id":"ac9fde88.3e414","type":"api-current-state","z":"938414f1.6d46d8","name":"Temperatur Wohnzimmer","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"climate.livingroom_thermostat","state_type":"num","state_location":"climate.payload","override_payload":"msg","entity_location":"climate.data","override_data":"msg","blockInputOverrides":false,"x":1090,"y":220,"wires":[["64190d5c.14bf94"]]},{"id":"64190d5c.14bf94","type":"switch","z":"938414f1.6d46d8","name":"Temperatur innen","property":"climate.data.attributes.current_temperature","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"lte","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":220,"wires":[["64a4fdcb.f42154","301cc9d.b93fc36"],["44cbddf7.d55b34"]]},{"id":"69e448f8.cacbe8","type":"inject","z":"f7992643.cf3688","name":"03:30","props":[],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":120,"y":80,"wires":[["52f52d0b.3881a4"]]},{"id":"52f52d0b.3881a4","type":"api-call-service","z":"f7992643.cf3688","name":"Zahnbuerste laden ein","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_bathroom_toothbrush","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":80,"wires":[["1cf69274.eb3b7e"]]},{"id":"1cf69274.eb3b7e","type":"delay","z":"f7992643.cf3688","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":80,"wires":[["eb7610be.6f685"]]},{"id":"eb7610be.6f685","type":"api-call-service","z":"f7992643.cf3688","name":"Zahnbuerste laden aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_bathroom_toothbrush","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":80,"wires":[[]]},{"id":"b209002e.c9f4d","type":"server-state-changed","z":"f7992643.cf3688","name":"Drucker fuer >15 Minuten an","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.plug_guestroom_printer_power_usage","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":160,"wires":[["e2ee51c3.d0606"],[]]},{"id":"e2ee51c3.d0606","type":"api-call-service","z":"f7992643.cf3688","name":"Drucker aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_guestroom_printer","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":160,"wires":[[]]},{"id":"e3a0c258.d6104","type":"api-call-service","z":"1fad8537.f6b59b","name":"Luefter an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.shower, fan.bathroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":620,"wires":[["f2b03bda.f4cad8"]]},{"id":"f2b03bda.f4cad8","type":"delay","z":"1fad8537.f6b59b","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1890,"y":620,"wires":[["6ecb2323.84fcbc"]]},{"id":"6ecb2323.84fcbc","type":"api-call-service","z":"1fad8537.f6b59b","name":"Luefter aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.shower, fan.bathroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":620,"wires":[["856a1378.dc577"]]},{"id":"856a1378.dc577","type":"delay","z":"1fad8537.f6b59b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2280,"y":620,"wires":[["4e5f8f28.e5226"]]},{"id":"4e5f8f28.e5226","type":"api-current-state","z":"1fad8537.f6b59b","name":"Noch abwesend?","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2490,"y":620,"wires":[["e3a0c258.d6104"],[]]},{"id":"6cb5419a.f25ff","type":"server-state-changed","z":"f7992643.cf3688","name":"Deckenlicht Bad an fuer mehr als 30 Sekunden","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_ceiling","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":320,"wires":[["42893420.6e0e2c"],[]]},{"id":"1d82b4fe.f9ab5b","type":"server-state-changed","z":"f7992643.cf3688","name":"Deckenlicht Dusche an fuer mehr als 30 Sekunden","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.shower_ceiling","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":400,"wires":[["ba5b29d4.63ba88"],[]]},{"id":"42893420.6e0e2c","type":"api-call-service","z":"f7992643.cf3688","name":"Luefter Bad ein","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.bathroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":320,"wires":[[]]},{"id":"ba5b29d4.63ba88","type":"api-call-service","z":"f7992643.cf3688","name":"Luefter Dusche ein","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.shower","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":400,"wires":[[]]},{"id":"8896f974.ad44f8","type":"api-call-service","z":"f7992643.cf3688","name":"Luefter Bad aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.bathroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":480,"wires":[[]]},{"id":"96344bf2.abaac8","type":"api-call-service","z":"f7992643.cf3688","name":"Luefter Dusche aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.shower","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":560,"wires":[[]]},{"id":"831dca33.dd0dd8","type":"server-state-changed","z":"f7992643.cf3688","name":"Ladestation Mobilgeraete ohne Verbrauch","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.plug_kitchen_charging_station_power_usage","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":200,"y":240,"wires":[["103adf09.bc4b41"],[]]},{"id":"103adf09.bc4b41","type":"api-call-service","z":"f7992643.cf3688","name":"Ladestation Mobilgeraete aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_kitchen_charging_station","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":240,"wires":[[]]},{"id":"ffa7aae6.401da8","type":"server-state-changed","z":"f7992643.cf3688","name":"Sonos Sub an","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.plug_livingroom_sonos_sub","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":640,"wires":[["a0d2a1fd.0ec34"],[]]},{"id":"a0d2a1fd.0ec34","type":"api-call-service","z":"f7992643.cf3688","name":"Sonos hinten links an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_sonos_rear_left","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":640,"wires":[["fc769be5.d52d78"]]},{"id":"fc769be5.d52d78","type":"api-call-service","z":"f7992643.cf3688","name":"Sonos hinten rechts an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_livingroom_sonos_rear_right","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":640,"wires":[[]]},{"id":"3db1ecef.c5ad84","type":"server-state-changed","z":"f7992643.cf3688","name":"Sonos Sub aus","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.plug_livingroom_sonos_sub","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":720,"wires":[["1b2290c1.76f54f"],[]]},{"id":"1b2290c1.76f54f","type":"api-call-service","z":"f7992643.cf3688","name":"Sonos hinten links aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_sonos_rear_left","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":720,"wires":[["a272810a.216a5"]]},{"id":"a272810a.216a5","type":"api-call-service","z":"f7992643.cf3688","name":"Sonos hinten rechts aua","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_livingroom_sonos_rear_right","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":720,"wires":[[]]},{"id":"a256f452.f5c4c8","type":"comment","z":"7f6537c4.47d0d8","name":"Saugen bei Rueckkehr pausieren","info":"","x":190,"y":80,"wires":[]},{"id":"55a22423.a8006c","type":"comment","z":"7f6537c4.47d0d8","name":"Saugen nach 5 Minuten Abwesenheit starten/fortsetzen","info":"","x":260,"y":200,"wires":[]},{"id":"f5aa6850.6cf918","type":"comment","z":"7f6537c4.47d0d8","name":"Saugen fertig","info":"","x":130,"y":320,"wires":[]},{"id":"3cb1d6ca.ce127a","type":"comment","z":"7f6537c4.47d0d8","name":"Status zu Beginn des Tages zuruecksetzen","info":"","x":220,"y":440,"wires":[]},{"id":"5f3d7800.e67988","type":"server-state-changed","z":"f7992643.cf3688","name":"Deckenlicht Bad aus fuer mehr als 2 Minuten","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_ceiling","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":210,"y":480,"wires":[["8896f974.ad44f8"],[]]},{"id":"6f1368e0.9c48e","type":"server-state-changed","z":"f7992643.cf3688","name":"Deckenlicht Dusche aus fuer mehr als 2 Minuten","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.shower_ceiling","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":560,"wires":[["96344bf2.abaac8"],[]]},{"id":"4a741d95.c948c4","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":120,"wires":[["3d1ad7f4.647ef8"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"3d1ad7f4.647ef8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":120,"wires":[["d9d8e17e.fb77f"],["34101458.961d0c"]],"outputLabels":["Aktiv","Inaktiv"]},{"id":"34101458.961d0c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_kitchen_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":180,"wires":[[]]},{"id":"c79471df.339ea","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":180,"wires":[["23ee59b4.629106"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"23ee59b4.629106","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":180,"wires":[[]]},{"id":"d9d8e17e.fb77f","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":120,"wires":[[]]},{"id":"f8db58cb.5a6c48","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":240,"wires":[["ed562a09.00a168"],["345f7cc9.52fcc4"]],"outputLabels":["Schlafen","Wach"]},{"id":"ed562a09.00a168","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_kitchen_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":240,"wires":[["1b889b29.62c935"],["10317997.d749f6"]],"outputLabels":["Geschlossen","Offen"]},{"id":"10317997.d749f6","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_kitchen_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":300,"wires":[[]]},{"id":"d94cec81.967fb","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":600,"wires":[["89208523.958408"],[]],"outputLabels":["Aktiv","Inaktiv"]},{"id":"3cd7ca14.67c6e6","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":600,"wires":[[]]},{"id":"e9cbc442.01d368","type":"comment","z":"a68a47cb.086bb8","name":"Küche","info":"","x":110,"y":80,"wires":[]},{"id":"41e99bf8.9b35b4","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":480,"wires":[["7aadb407.4f947c"],["a87d50e3.ad72f"]],"outputLabels":["Dunkel","Hell"]},{"id":"7aadb407.4f947c","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_kitchen_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":480,"wires":[["b068ddf6.73c86"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"b068ddf6.73c86","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_kitchen_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":480,"wires":[[]]},{"id":"33181bc6.fbc7c4","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_kitchen_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":120,"wires":[["4a741d95.c948c4"],["c79471df.339ea"]],"outputLabels":["Geschlossen","Offen"]},{"id":"89208523.958408","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_kitchen_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":600,"wires":[["3cd7ca14.67c6e6"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"1b889b29.62c935","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":240,"wires":[[]]},{"id":"345f7cc9.52fcc4","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":360,"wires":[["4b541e4c.2b5c6"]]},{"id":"4b541e4c.2b5c6","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":360,"wires":[["62a26113.60061"],["676cd6b6.cc8e68"]]},{"id":"62a26113.60061","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":360,"wires":[["e98d6fa2.8971f"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"e98d6fa2.8971f","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_kitchen_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":360,"wires":[[]]},{"id":"676cd6b6.cc8e68","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":420,"wires":[["d23645d6.dc8618"],["c6a06695.70c8c8"]],"outputLabels":["Dunkel","Hell"]},{"id":"d23645d6.dc8618","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_kitchen_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":420,"wires":[[]]},{"id":"c6a06695.70c8c8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":480,"wires":[[]]},{"id":"39342028.c2246","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":900,"wires":[["d0731a8f.1c9b18"],["5b310e08.f70d"]],"outputLabels":["Schlafen","Wach"]},{"id":"8aec1b95.ec6de8","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1140,"wires":[["6a59c0eb.c432d"],[]]},{"id":"6a59c0eb.c432d","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.dining","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1140,"wires":[[]]},{"id":"1609b7ee.622fe8","type":"comment","z":"a68a47cb.086bb8","name":"Esstisch","info":"","x":120,"y":860,"wires":[]},{"id":"a4746fb0.a3d8c","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1020,"wires":[["8ff7677d.217178"],["fd5f09f0.d2b988"]],"outputLabels":["Dunkel","Hell"]},{"id":"8ff7677d.217178","type":"api-call-service","z":"a68a47cb.086bb8","name":"Katzenposition","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_dining_cat","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":1020,"wires":[[]]},{"id":"d0731a8f.1c9b18","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.dining","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":900,"wires":[[]]},{"id":"5b310e08.f70d","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":960,"wires":[["58395db6.284f74"]]},{"id":"58395db6.284f74","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":960,"wires":[["eb94d3ae.e6fab"],["3f71bd35.1badf2"]]},{"id":"eb94d3ae.e6fab","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.dining","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":960,"wires":[["66fa53d4.91799c"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"3f71bd35.1badf2","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1020,"wires":[["7de389fa.f50348"],["442f550b.fd1c5c"]],"outputLabels":["Dunkel","Hell"]},{"id":"442f550b.fd1c5c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.dining","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":1080,"wires":[[]]},{"id":"66fa53d4.91799c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_dining_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":960,"wires":[[]]},{"id":"7de389fa.f50348","type":"api-call-service","z":"a68a47cb.086bb8","name":"Katzenposition","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_dining_cat","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1020,"wires":[[]]},{"id":"13f24ec7.1508b1","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1380,"wires":[["d41317a2.c745e8"],["c0e7f343.831c"]],"outputLabels":["Schlafen","Wach"]},{"id":"d41317a2.c745e8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Tür","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":1380,"wires":[["84a86950.581a38"],["48c8611f.09ef1"]],"outputLabels":["Geschlossen","Offen"]},{"id":"48c8611f.09ef1","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_patio_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1440,"wires":[[]]},{"id":"49b23e5c.eb2ad","type":"comment","z":"a68a47cb.086bb8","name":"Terrasse","info":"","x":120,"y":1340,"wires":[]},{"id":"84a86950.581a38","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.patio","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1380,"wires":[[]]},{"id":"c0e7f343.831c","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":1500,"wires":[["46232005.930d1"]]},{"id":"46232005.930d1","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1500,"wires":[["e72fe0c3.efb2"],["2dd23d3.5aaadc2"]]},{"id":"e72fe0c3.efb2","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.patio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1500,"wires":[["f4e2daab.e7b2c8"],[]]},{"id":"f4e2daab.e7b2c8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_patio_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1500,"wires":[[]]},{"id":"2dd23d3.5aaadc2","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.patio","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":1560,"wires":[[]]},{"id":"df876d8c.4e4fd","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1920,"wires":[["73434575.bc883c"],["a3a2803f.1c986"]]},{"id":"dc78b13c.c0058","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2160,"wires":[["f91501f5.dca41"],[]]},{"id":"f91501f5.dca41","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.couch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":2160,"wires":[[]]},{"id":"e9233198.b4048","type":"comment","z":"a68a47cb.086bb8","name":"Couch","info":"","x":110,"y":1880,"wires":[]},{"id":"655422d.c09f7dc","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2040,"wires":[["cf818642.1f8308"],["69e7a6be.57bf78"]]},{"id":"cf818642.1f8308","type":"api-call-service","z":"a68a47cb.086bb8","name":"Katzenposition","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_couch_cat","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":2040,"wires":[[]]},{"id":"73434575.bc883c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.couch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1920,"wires":[[]]},{"id":"a3a2803f.1c986","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":1980,"wires":[["7bca0156.db8e8"]]},{"id":"7bca0156.db8e8","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1980,"wires":[["b7604cde.59e2e"],["4b29391.2cbe2c8"]]},{"id":"b7604cde.59e2e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.couch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1980,"wires":[["bf7d14ab.7b3078"],[]]},{"id":"4b29391.2cbe2c8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":2040,"wires":[["21cf24e2.9fa96c"],["ee52a4bb.11f188"]]},{"id":"ee52a4bb.11f188","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.couch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2100,"wires":[[]]},{"id":"bf7d14ab.7b3078","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_couch_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1980,"wires":[[]]},{"id":"21cf24e2.9fa96c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Katzenposition","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_couch_cat","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":2040,"wires":[[]]},{"id":"e71deaee.02d358","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":2400,"wires":[["475b05a7.f0d09c"],[]]},{"id":"475b05a7.f0d09c","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":2400,"wires":[["98b8ca7f.1a2128"],["f4092ca8.ab1e7"]]},{"id":"f4092ca8.ab1e7","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_guestroom_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":2460,"wires":[[]]},{"id":"47a9b5ea.afe12c","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":2460,"wires":[["e04840a7.f0b8"],[]]},{"id":"e04840a7.f0b8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2460,"wires":[[]]},{"id":"98b8ca7f.1a2128","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":2400,"wires":[[]]},{"id":"11f6a2d2.fa31fd","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2520,"wires":[["f88430e.7d55bd"],["1aad6481.e5053b"]],"outputLabels":["Schlafen","Wach"]},{"id":"f88430e.7d55bd","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_guestroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":2520,"wires":[["c247bd72.4c233"],["963fa510.ec5838"]],"outputLabels":["Geschlossen","Offen"]},{"id":"963fa510.ec5838","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_guestroom_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":2580,"wires":[[]]},{"id":"ab688266.12e88","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2880,"wires":[["98952dfd.55c76"],[]]},{"id":"d4ccb7d3.624f88","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":2880,"wires":[[]]},{"id":"4d722e66.5ed63","type":"comment","z":"a68a47cb.086bb8","name":"Gästezimmer","info":"","x":130,"y":2360,"wires":[]},{"id":"9eb1e40e.7fb0f8","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2760,"wires":[["5c65211f.f0a04"],["dd9cd78b.3cbff8"]]},{"id":"5c65211f.f0a04","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_guestroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":2760,"wires":[["8537a890.40e218"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"8537a890.40e218","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_guestroom_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":2760,"wires":[[]]},{"id":"e3d59875.2b2538","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_guestroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":2400,"wires":[["e71deaee.02d358"],["47a9b5ea.afe12c"]],"outputLabels":["Geschlossen","Offen"]},{"id":"98952dfd.55c76","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_guestroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":2880,"wires":[["d4ccb7d3.624f88"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"c247bd72.4c233","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":2520,"wires":[[]]},{"id":"1aad6481.e5053b","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":2640,"wires":[["6542d57b.eb7f1c"]]},{"id":"6542d57b.eb7f1c","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":2640,"wires":[["531f685a.8ead28"],["f3b9f4a1.9c53e8"]]},{"id":"531f685a.8ead28","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.guestroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":2640,"wires":[["f06ecb8c.766c58"],[]]},{"id":"f06ecb8c.766c58","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_guestroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":2640,"wires":[[]]},{"id":"f3b9f4a1.9c53e8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":2700,"wires":[["d66c55ab.a06a48"],["f1b621a8.d56ed"]]},{"id":"d66c55ab.a06a48","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_guestroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":2700,"wires":[[]]},{"id":"f1b621a8.d56ed","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2760,"wires":[[]]},{"id":"f0e1900a.e7e13","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":3180,"wires":[["dd2622b2.334c5"],[]]},{"id":"dd2622b2.334c5","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":3180,"wires":[["f27abef9.2a899"],["97fbe374.e0925"]]},{"id":"97fbe374.e0925","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_bedroom_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":3240,"wires":[[]]},{"id":"8796459b.0fabd8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":3240,"wires":[["9623e33.15bf52"],[]]},{"id":"9623e33.15bf52","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":3240,"wires":[[]]},{"id":"f27abef9.2a899","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":3180,"wires":[[]]},{"id":"a43626be.b98158","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":3300,"wires":[["6d06fc77.279774"],["6a62ee37.393"]],"outputLabels":["Schlafen","Wach"]},{"id":"6d06fc77.279774","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":3300,"wires":[["980bb591.0ec548"],["2cdba7cc.a95758"]],"outputLabels":["Geschlossen","Offen"]},{"id":"2cdba7cc.a95758","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_bedroom_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":3360,"wires":[[]]},{"id":"d7790f2d.716fd","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":3660,"wires":[["e938aa64.1fd258"],[]]},{"id":"37e01999.4db916","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":3660,"wires":[[]]},{"id":"e404e009.57091","type":"comment","z":"a68a47cb.086bb8","name":"Schlafzimmer","info":"","x":130,"y":3140,"wires":[]},{"id":"93759081.8e8c2","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":3540,"wires":[["6a5bba3a.eb8694"],["43b919e0.63dd18"]]},{"id":"6a5bba3a.eb8694","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":3540,"wires":[["625c1d37.8239e4"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"625c1d37.8239e4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_bedroom_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":3540,"wires":[[]]},{"id":"b9605f63.16988","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_bedroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":3180,"wires":[["f0e1900a.e7e13"],["8796459b.0fabd8"]],"outputLabels":["Geschlossen","Offen"]},{"id":"e938aa64.1fd258","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":3660,"wires":[["37e01999.4db916"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"980bb591.0ec548","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":3300,"wires":[[]]},{"id":"6a62ee37.393","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":3420,"wires":[["aa7c3cb0.7fc03"]]},{"id":"aa7c3cb0.7fc03","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":3420,"wires":[["91980aa3.7bd7f8"],["e181c76b.a03278"]]},{"id":"91980aa3.7bd7f8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":3420,"wires":[["c5d93dfc.b4533"],[]]},{"id":"c5d93dfc.b4533","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_bedroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":3420,"wires":[[]]},{"id":"e181c76b.a03278","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":3480,"wires":[["60f27c89.f43594"],["9d026a39.462088"]]},{"id":"60f27c89.f43594","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_bedroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":3480,"wires":[[]]},{"id":"9d026a39.462088","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":3540,"wires":[[]]},{"id":"343041f9.5e172e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":3960,"wires":[["5784ac73.ea8d74"],[]]},{"id":"5784ac73.ea8d74","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":3960,"wires":[["373f7287.3c9e1e"],["5887b277.0e54ac"]]},{"id":"5887b277.0e54ac","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_office_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":4020,"wires":[[]]},{"id":"23edec5a.b9fda4","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":4020,"wires":[["c549217c.813cb"],[]]},{"id":"c549217c.813cb","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":4020,"wires":[[]]},{"id":"373f7287.3c9e1e","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":3960,"wires":[[]]},{"id":"30cada70.e35c56","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleeping","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":4080,"wires":[["99068d3e.4d45e"],["b369a7ea.05c728"]],"outputLabels":["Schlafen","Wach"]},{"id":"99068d3e.4d45e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":4080,"wires":[["768c33e.f98b1cc"],["da7b44e7.941388"]],"outputLabels":["Geschlossen","Offen"]},{"id":"da7b44e7.941388","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_office_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4140,"wires":[[]]},{"id":"d3e07521.675a68","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":4440,"wires":[["40dddf63.60522"],[]]},{"id":"2e772e50.a9bfb2","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4440,"wires":[[]]},{"id":"1205ade0.130b32","type":"comment","z":"a68a47cb.086bb8","name":"Büro","info":"","x":110,"y":3920,"wires":[]},{"id":"11d9d05c.44c21","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":4320,"wires":[["35db586c.d86ca8"],["1b22e331.20310d"]]},{"id":"35db586c.d86ca8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":4320,"wires":[["2938161b.4be02a"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"2938161b.4be02a","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_office_ajar","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4320,"wires":[[]]},{"id":"d8b52988.d41dd8","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_window_office_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":3960,"wires":[["343041f9.5e172e"],["23edec5a.b9fda4"]],"outputLabels":["Geschlossen","Offen"]},{"id":"40dddf63.60522","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":4440,"wires":[["2e772e50.a9bfb2"],[]],"outputLabels":["Geschlossen","Offen"]},{"id":"768c33e.f98b1cc","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4080,"wires":[[]]},{"id":"b369a7ea.05c728","type":"api-current-state","z":"a68a47cb.086bb8","name":"Wetter","server":"ab0ec929.cb07d8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.schonaich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":4200,"wires":[["7e31568.bc741a8"]]},{"id":"7e31568.bc741a8","type":"switch","z":"a68a47cb.086bb8","name":"Temperatur","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":4200,"wires":[["20844b28.fcc374"],["cca3806e.e9eb6"]]},{"id":"20844b28.fcc374","type":"api-current-state","z":"a68a47cb.086bb8","name":"Rolladen geschlossen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.office","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":4200,"wires":[["db7cf1f8.5bfb2"],[]]},{"id":"db7cf1f8.5bfb2","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_office_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":4200,"wires":[[]]},{"id":"cca3806e.e9eb6","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":4260,"wires":[["ca9ca3ba.bd174"],["2380944c.5be8cc"]]},{"id":"ca9ca3ba.bd174","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_office_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":4260,"wires":[[]]},{"id":"2380944c.5be8cc","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":4320,"wires":[[]]},{"id":"d8ded865.52ac68","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":4380,"wires":[[]]},{"id":"2f581d3f.75ff62","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":3600,"wires":[[]]},{"id":"505730a0.1dadf","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2820,"wires":[[]]},{"id":"9a68002b.8b4c4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.couch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2100,"wires":[[]]},{"id":"49f1dc08.d3cce4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.dining","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":1080,"wires":[[]]},{"id":"dffccfc2.cb9c2","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":540,"wires":[[]]},{"id":"a87d50e3.ad72f","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":540,"wires":[[],["dffccfc2.cb9c2"]],"outputLabels":["Schlafen","Wach"]},{"id":"fd5f09f0.d2b988","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":1080,"wires":[[],["49f1dc08.d3cce4"]],"outputLabels":["Schlafen","Wach"]},{"id":"69e7a6be.57bf78","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":2100,"wires":[[],["9a68002b.8b4c4"]]},{"id":"dd9cd78b.3cbff8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":2820,"wires":[[],["505730a0.1dadf"]],"outputLabels":["Schlafen","Wach"]},{"id":"43b919e0.63dd18","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":3600,"wires":[[],["2f581d3f.75ff62"]]},{"id":"1b22e331.20310d","type":"api-current-state","z":"a68a47cb.086bb8","name":"Schlafen","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":4380,"wires":[[],["d8ded865.52ac68"]],"outputLabels":["Schlafen","Wach"]},{"id":"faa556c9.b74b68","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":4500,"wires":[[],["89e577fe.37afe8"]],"outputLabels":["Kommen","Gehen"]},{"id":"89e577fe.37afe8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":4500,"wires":[["c1ea9170.1795f"],["e9f88191.5d4aa"]],"outputLabels":["Dunkel","Hell"]},{"id":"c1ea9170.1795f","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":4500,"wires":[["4791551b.7cb50c"],["afe116e2.815038"]],"outputLabels":["Ja","Nein"]},{"id":"afe116e2.815038","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_office_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":4560,"wires":[[]]},{"id":"4791551b.7cb50c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":4500,"wires":[[]]},{"id":"e9f88191.5d4aa","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_office_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":4620,"wires":[[],["46857b57.ee6ce4"]],"outputLabels":["Geschlossen","Offen"]},{"id":"46857b57.ee6ce4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_office_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":4620,"wires":[[]]},{"id":"80ae9bf3.f4e9e8","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":3720,"wires":[[],["51bb2e27.c8941"]],"outputLabels":["Kommen","Gehen"]},{"id":"51bb2e27.c8941","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":3720,"wires":[["3b29c1d5.3d0f6e"],["cb535fb8.2a2b1"]],"outputLabels":["Dunkel","Hell"]},{"id":"3b29c1d5.3d0f6e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":3720,"wires":[["3ad29c57.c570a4"],["2a7b7482.a8e0ec"]],"outputLabels":["Ja","Nein"]},{"id":"2a7b7482.a8e0ec","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_bedroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":3780,"wires":[[]]},{"id":"3ad29c57.c570a4","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":3720,"wires":[[]]},{"id":"cb535fb8.2a2b1","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_bedroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":3840,"wires":[[],["91084ac1.82db58"]],"outputLabels":["Geschlossen","Offen"]},{"id":"91084ac1.82db58","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_bedroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":3840,"wires":[[]]},{"id":"581b5fe0.eeaac","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2940,"wires":[[],["37c5b063.ade65"]],"outputLabels":["Kommen","Gehen"]},{"id":"37c5b063.ade65","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":2940,"wires":[["d4640377.a1522"],["b518084e.6d5ce8"]],"outputLabels":["Dunkel","Hell"]},{"id":"d4640377.a1522","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":2940,"wires":[["b9aa088d.2064f8"],["2ba37390.d9bf4c"]],"outputLabels":["Ja","Nein"]},{"id":"2ba37390.d9bf4c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_guestroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":3000,"wires":[[]]},{"id":"b9aa088d.2064f8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.guestroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":2940,"wires":[[]]},{"id":"b518084e.6d5ce8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_guestroom_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":3060,"wires":[[],["f9cf57eb.00d358"]],"outputLabels":["Geschlossen","Offen"]},{"id":"f9cf57eb.00d358","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_guestroom_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":3060,"wires":[[]]},{"id":"19b256a5.66f8f9","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":2220,"wires":[[],["cb4b0aa8.d376c8"]],"outputLabels":["Kommen","Gehen"]},{"id":"cb4b0aa8.d376c8","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":2220,"wires":[["31ec71c6.f89c8e"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"31ec71c6.f89c8e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":2220,"wires":[["61690567.f0128c"],["e32da033.321e6"]],"outputLabels":["Ja","Nein"]},{"id":"e32da033.321e6","type":"api-call-service","z":"a68a47cb.086bb8","name":"Katzenposition","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_couch_cat","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":2280,"wires":[[]]},{"id":"61690567.f0128c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.couch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":2220,"wires":[[]]},{"id":"a1506cc4.a34ec","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1620,"wires":[["2917b49d.b391ec"],["f30385af.933d68"]],"outputLabels":["Kommen","Gehen"]},{"id":"f30385af.933d68","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1680,"wires":[["19a58098.d2dc4f"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"19a58098.d2dc4f","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":1680,"wires":[["2b1fa42.ca6ea5c"],["6cfd318c.81318"]],"outputLabels":["Ja","Nein"]},{"id":"2b1fa42.ca6ea5c","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.patio","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1680,"wires":[[]]},{"id":"6cfd318c.81318","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_patio_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1740,"wires":[[]]},{"id":"3ddd37f.7da35c8","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1200,"wires":[[],["40521339.d288fc"]],"outputLabels":["Kommen","Gehen"]},{"id":"40521339.d288fc","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1200,"wires":[["3daa6afd.0d6c66"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"3daa6afd.0d6c66","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":1200,"wires":[["f83ee10b.950d9"],["ba874f92.b498a"]],"outputLabels":["Ja","Nein"]},{"id":"f83ee10b.950d9","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.dining","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1200,"wires":[[]]},{"id":"ba874f92.b498a","type":"api-call-service","z":"a68a47cb.086bb8","name":"Katzenposition","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"cover_dining_cat","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1260,"wires":[[]]},{"id":"a28c983e.023458","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":660,"wires":[[],["b16f0209.776e5"]],"outputLabels":["Kommen","Gehen"]},{"id":"b16f0209.776e5","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":660,"wires":[["8cdc473e.f2cd58"],["36ded27d.376b7e"]],"outputLabels":["Dunkel","Hell"]},{"id":"8cdc473e.f2cd58","type":"api-current-state","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_shutdown","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":660,"wires":[["26c8a909.450216"],["2e215a27.f5e276"]],"outputLabels":["Aktiv","Inaktiv"]},{"id":"2e215a27.f5e276","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_kitchen_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":720,"wires":[[]]},{"id":"26c8a909.450216","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.kitchen","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":660,"wires":[[]]},{"id":"36ded27d.376b7e","type":"api-current-state","z":"a68a47cb.086bb8","name":"Fenster","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.magnet_window_kitchen_contact","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":780,"wires":[[],["fadff5d5.982d48"]],"outputLabels":["Geschlossen","Offen"]},{"id":"fadff5d5.982d48","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_kitchen_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":780,"wires":[[]]},{"id":"2917b49d.b391ec","type":"api-current-state","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rolladen_dunkelheit","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1620,"wires":[["3ee81155.affe4e"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"3ee81155.affe4e","type":"api-call-service","z":"a68a47cb.086bb8","name":"Öffnen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.patio","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":1620,"wires":[[]]},{"id":"d570715.f30469","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Shutdown","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1800,"wires":[["dec54dec.06f07"],[]]},{"id":"dec54dec.06f07","type":"api-current-state","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":1800,"wires":[[],["c6029a72.fec5f8"]],"outputLabels":["Anwesend","Abwesend"]},{"id":"c6029a72.fec5f8","type":"api-call-service","z":"a68a47cb.086bb8","name":"Schließen","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.patio","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1800,"wires":[[]]},{"id":"877443b9.46d5f","type":"server-state-changed","z":"a68a47cb.086bb8","name":"Dunkelheit","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rolladen_dunkelheit","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":1740,"wires":[["9cec0e82.bf35"],[]],"outputLabels":["Dunkel","Hell"]},{"id":"9cec0e82.bf35","type":"api-current-state","z":"a68a47cb.086bb8","name":"Präsenz","server":"ab0ec929.cb07d8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":1740,"wires":[[],["99f4ef67.7a641"]],"outputLabels":["Anwesend","Abwesend"]},{"id":"99f4ef67.7a641","type":"api-call-service","z":"a68a47cb.086bb8","name":"Auf Spalt","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cover_patio_ajar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1740,"wires":[[]]},{"id":"cf7702ac.53d8e","type":"delay","z":"6082ba15.60be14","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":140,"wires":[["717e3a69.c49224"]]},{"id":"10cd733d.48d61d","type":"server-state-changed","z":"f7992643.cf3688","name":"Videolicht veraendert","server":"ab0ec929.cb07d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.videolicht","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":140,"y":800,"wires":[["9a27e588.06b8f8"],["e6f5b98f.fb49a8"]]},{"id":"9a27e588.06b8f8","type":"api-call-service","z":"f7992643.cf3688","name":"Videolicht links an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.videolicht_links","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":800,"wires":[["20c2a75a.818e78"]]},{"id":"20c2a75a.818e78","type":"api-call-service","z":"f7992643.cf3688","name":"Videolicht rechts an","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.videolicht_rechts","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":800,"wires":[[]]},{"id":"e6f5b98f.fb49a8","type":"api-call-service","z":"f7992643.cf3688","name":"Videolicht links aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.videolicht_links","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":860,"wires":[["e5b61496.587d68"]]},{"id":"e5b61496.587d68","type":"api-call-service","z":"f7992643.cf3688","name":"Videolicht rechts aus","server":"ab0ec929.cb07d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.videolicht_rechts","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":860,"wires":[[]]}]
